
<div class="home-container">
  <!-- ================= Sidebar ================= -->
 <app-sidebar [mode]="'full'"></app-sidebar>

  <!-- ================= Content ================= -->
  <main class="content">
    <!-- ===== Top Bar ===== -->
    <div class="top-bar">
      <div class="search-box">
        <span class="material-icons search-icon">search</span>
        <input
          type="text"
          placeholder="ค้นหาชื่อไฟล์"
          [(ngModel)]="searchText"
        />
      </div>

      <div class="user-info" *ngIf="user">
        <span class="material-icons user-icon">account_circle</span>
        <div class="user-text">
          <div class="user-name">{{ user.username }}</div>
          <div class="user-role">{{ displayRole }}</div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

   <!-- ===== Summary ===== -->
<div class="summary-row">
  <!-- เอกสารทั้งหมด -->
  <div
    class="summary-card"
    [class.active]="viewMode === 'all'"
    (click)="showAll()"
  >
    <span class="material-icons summary-icon">description</span>
    <div class="summary-text">
      <p>{{ document.length }} ไฟล์</p>
      <h3>เอกสารทั้งหมด</h3>
    </div>
  </div>

  <!-- เอกสารใหม่วันนี้ -->
  <div
    class="summary-card today"
    [class.active]="viewMode === 'today'"
    (click)="showToday()"
  >
    <span class="material-icons summary-icon">new_releases</span>
    <div class="summary-text">
      <p>{{ todayDocuments.length }} ไฟล์</p>
      <h3>เอกสารใหม่วันนี้</h3>
    </div>
  </div>
</div>

<!-- ===== Files ===== -->
<div class="files-box">
  <div class="file-grid">
    <div
      class="file-card"
      *ngFor="let file of filteredFilesBySearch"
      (click)="openModal(file)"
    >
      <span class="material-icons file-icon">picture_as_pdf</span>
      <div class="file-name">{{ file.file_name }}</div>
    </div>
  </div>
</div>


<!-- ================= Preview Modal ================= -->
<div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-box" (click)="$event.stopPropagation()">
    <h3>{{ selectedFile?.file_name }}</h3>
    <h3 *ngIf="selectedFile?.title" style="color: #42464b; margin-top: 5px">
      {{ selectedFile?.title }}
    </h3>
    <iframe
      *ngIf="safeFileUrl"
      class="pdf-preview"
      [src]="safeFileUrl"
    ></iframe>

    <div class="upload-actions">
      <button class="btn-cancel" (click)="closeModal()">ปิด</button>
    </div>
  </div>
</div>
