
.container {
  display: flex;
  height: 100vh;
  background-color: #1A285F;
}

/* ซ้าย */
.left {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

/* ขวา */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left h1 {
  font-size: 48px;   /* เพิ่มขนาด */
  font-weight: 700;
  margin-top: 16px;
}

.subtitle {
  font-size: 40px;   /* เพิ่มขนาด */
  font-weight: 600; /* หนาขึ้น */
  margin-bottom: 20px;
}

.login-box {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 30px;
  width: 625px;
  height: 625px;
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* กลางแนวตั้ง */
  align-items: center;     /* กลางแนวนอน */
  text-align: center;
}

.login-box h2 {
  font-size: 40px;   /* ปรับใหญ่ขึ้น */
  font-weight: 700;
  margin-bottom: 32px;
}

input::placeholder {
  font-size: 18px;
  color: #999;
}

.field {
  width: 80%;
  text-align: left;
  margin-bottom: 32px;  
}


label {
  display: block;
  margin-bottom: -5px;   /* ระยะห่างระหว่างข้อความกับช่องกรอก */
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
}

.input-center {
  display: flex;
  justify-content: center; /* กลางแนวนอน */
  align-items: center;     /* กลางแนวตั้ง */
  width: 100%;
  height: 100%;
}

input {
  width: 95%;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #D9D9D9;
}




button {
  width: 25%;
  padding: 10px;
  margin-top: 12px;
  background-color: #1A285F;
  color: white;
  border: none;
  border-radius: 10px;
  
}
