<div class="home-container">
  <app-adminsidebar [mode]="'full'"></app-adminsidebar>

  <main class="content">
    <!-- ===== เลือกอาจารย์ ===== -->
    <div *ngIf="!selectedTeacher">
      <h2>📂 เอกสาร JAE</h2>

      <div class="folder-grid">
        <div
          class="folder-card"
          *ngFor="let t of teachers"
          (click)="openTeacher(t)"
        >
          <span class="material-icons folder-icon">folder</span>
          <div class="folder-name">{{ t.username }}</div>
        </div>
      </div>
    </div>

    <!-- ===== รายการเอกสาร ===== -->
    <div *ngIf="selectedTeacher">
      <div class="header-row">
        <button class="back-btn" (click)="backToFolders()">
  <span class="material-icons">arrow_back</span>
  รายชื่ออาจารย์
</button>
        <h2>{{ selectedTeacher.username }}</h2>
      </div>

      <!-- ปี -->
      <div class="year-tabs" *ngIf="groupedFiles.length > 0">
        <button
          *ngFor="let group of groupedFiles"
          [class.active]="activeYear === group.year"
          (click)="selectYear(group)"
        >
          ปี {{ group.year }}
        </button>
      </div>

      <!-- เทอม -->
      <div class="term-tabs" *ngIf="activeYear">
        <button
          [class.active-term]="activeTerm === 0"
          (click)="resetToAllFiles()"
        >
          ทั้งหมด
        </button>
        <button
          [class.active-term]="activeTerm === 1"
          (click)="loadTerm(1)"
        >
          เทอม 1
        </button>
        <button
          [class.active-term]="activeTerm === 2"
          (click)="loadTerm(2)"
        >
          เทอม 2
        </button>
      </div>

      <!-- ไฟล์ -->
      <div class="file-list-container">
        <div
          class="file-item"
          *ngFor="let f of selectedYearFiles"
          (click)="openPreview(f)"
        >
          <span class="material-icons pdf-icon">picture_as_pdf</span>

          <div class="file-text">
            <div class="file-name">{{ f.file_name }}</div>
            <div class="file-title">หัวเรื่อง : {{ f.title }}</div>
            <small class="file-date">
              {{ f.create_at | date:'dd/MM/yyyy' }}
            </small>
          </div>
          <span
    class="material-icons delete-icon"
    title="ลบเอกสาร"
    (click)="deleteFile(f, $event)"
  >
    delete
  </span>
        </div>

        <p *ngIf="selectedYearFiles.length === 0" class="empty-msg">
          ไม่พบเอกสารในหมวดนี้
        </p>
      </div>
    </div>
  </main>
</div>
