<div class="home-container">
 <app-sidebar [mode]="'full'"></app-sidebar>

  <main class="content">
    <!-- ===== Folder View ===== -->
    <div *ngIf="!selectedFolder">
      <h2>📂 ประกันคุณภาพ </h2>

      <div class="folder-grid">
        <div
          class="folder-card readonly"
          *ngFor="let f of folders"
          (click)="openFolder(f)"
        >
          <span class="material-icons folder-icon">folder</span>
          <div class="folder-name">{{ f.name }}</div>
        </div>
      </div>

      <p *ngIf="folders.length === 0" class="empty-text">
        ไม่มีเอกสารให้แสดง
      </p>
    </div>

    <!-- ===== File View ===== -->
    <div *ngIf="selectedFolder" class="file-view">
      <div class="folder-header">
         <button class="back-link" (click)="backToFolders()">
          <span class="material-icons">arrow_back</span>
          กลับ
        </button>

        <h2>{{ selectedFolder.name }}</h2>
      </div>

      <!-- ===== File list ===== -->
      <div class="file-list" *ngIf="selectedFolder.files.length > 0">
        <div
          class="file-item view-only"
          *ngFor="let file of selectedFolder.files"
          (click)="openFile(file)"
        >
          <span class="material-icons file-icon-color">
            description
          </span>

          <div class="text-content">
            <div class="file-name">{{ file.name }}</div>
          </div>

          <span class="material-icons open-icon">
            open_in_new
          </span>
        </div>
      </div>

      <p *ngIf="selectedFolder.files.length === 0" class="empty-text">
        ยังไม่มีเอกสารในโฟลเดอร์นี้
      </p>
    </div>
  </main>
</div>
