<div class="dialog-header">
  <div class="dialog-title">
    {{ data?.file_name || 'Preview' }}
  </div>

  <div class="header-actions">
    <button mat-icon-button (click)="zoomOut()">
      <span class="material-icons">zoom_out</span>
    </button>

    <button mat-icon-button (click)="zoomIn()">
      <span class="material-icons">zoom_in</span>
    </button>

    <button mat-icon-button (click)="toggleFullscreen()">
      <span class="material-icons">
        {{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}
      </span>
    </button>

    <button mat-icon-button (click)="close()">
      <span class="material-icons">close</span>
    </button>
  </div>
</div>

<mat-dialog-content>
  <div class="pdf-wrapper">
    <canvas #pdfCanvas></canvas>
  </div>
</mat-dialog-content>
