.home-container {
  display: flex;
  height: 100vh;
  background: #f2f2f2;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #1A285F;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}

.logout {
  margin-top: 20px;
  color: #ffb3b3;
}

/* Content */
.content {
  flex: 1;
  padding: 24px;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar input {
  width: 320px;
  padding: 10px 14px;
  border-radius: 12px;      /* ช่องค้นหาโค้ง */
  border: 1px solid #ccc;
}

/* Boxes */
.summary-box {
  background: #1A285F;
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  width: 15%;               /* สั้นลง ขยับขวาเข้าซ้าย */
}

/* กล่องไฟล์ */
.files-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 95%;               /* สั้นลง */
}

/* Header กล่องไฟล์ */
.files-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.files-header button {
  background: #1A285F;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* เอาจุดหน้าเอกสารออก */
.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

/* แถบปุ่มอัปโหลดเหนือกล่อง */
.upload-bar {
  width: 95%;                 /* ให้เท่ากล่องเอกสาร */
  display: flex;
  justify-content: flex-end;  /* ชิดขวา */
  margin-bottom: 12px;
  
}



/* แถว summary */
.summary-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 20px;
}

/* summary-box */
.summary-box {
  background: #1A285F;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 20%;
}

/* ปุ่มอัปโหลด */
.upload-btn {
  background: #1A285F;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 90px;
}
