<h2 mat-dialog-title class="dialog-title">
  📢 เพิ่มประกาศข่าวสาร
</h2>

<form [formGroup]="form">
  <div mat-dialog-content>
    <div class="dialog-inner">

      <!-- หัวข้อ -->
      <mat-form-field appearance="outline">
        <mat-label>หัวข้อ</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <!-- รายละเอียด -->
      <mat-form-field appearance="outline">
        <mat-label>รายละเอียด</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="4"
          cdkAutosizeMaxRows="8"
          formControlName="detail">
        </textarea>
      </mat-form-field>

      <!-- แนบไฟล์ -->
      <div>
        <input
          type="file"
          accept="application/pdf"
          hidden
          #fileInput
          (change)="onFileSelected($event)"
        >

        <button
          mat-stroked-button
          type="button"
          (click)="fileInput.click()">
          📎 แนบไฟล์ PDF
        </button>

        <div class="file-name" *ngIf="form.value.fileName">
          {{ form.value.fileName }}
        </div>
      </div>

    </div>
  </div>

  <div mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="cancel()">ยกเลิก</button>

    <!-- ✅ ปุ่ม disabled จนกว่าจะครบ -->
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="submit()">
      บันทึกประกาศ
    </button>
  </div>
</form>
