.dialog-inner {
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* title */
.dialog-title {
  padding: 20px 28px 0;
  font-weight: 600;
}

/* input เต็มความกว้าง */
mat-form-field {
  width: 100%;
}






.full {
  width: 100%;
}



.file-name {
  margin-top: 6px;
  font-size: 12px;
  color: #1A285F;
}


/* ===== Actions ===== */
/* actions */
.dialog-actions {
  padding: 12px 28px 20px;
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  
}


.file-label {
  font-size: 13px;
  color: #555;
}